*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 8%;
    padding-right: 8%;

}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #fde74c;
    transition: .2s;

}
.content{
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateY(-50%)
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #ffb703;
    letter-spacing: 2px;
    font-size: 30px;
}
p{
    color: beige;
    letter-spacing: 1px;
    line-height: 30px;
    padding-right: 300px;
    padding-top: 30px;
    
}
img{
    border-radius: 50%;
    float: right;
    margin-right: 160px;
    margin-top: 120px;
}
.container{
    background-color: black;
    height: 100px;
    width: 100%;
    
}